<div class="text-center">
    <div class="btn-group btn-group-toggle text-center" data-toggle="buttons">
        <button class="btn btn-secondary" type="button" (click)="onSearch()">Search</button>
        <button class="btn btn-secondary" type="button" (click)="onShowAll()">Show All</button>
        <button class="btn btn-secondary" type="button" (click)="onRegister()">Register</button>
        <button class="btn btn-secondary" type="button" (click)="onTrends()">Trends</button>
    </div>
</div>
<router-outlet></router-outlet>
